/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

/* UTILS */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.container-big {
    width: 95%;
    margin: 0 auto;
}

.container-small {
    width: 70%;
    margin: 0 auto;
}

.invert {
    filter: invert(1);
}

.content-mid hr {
    width: 20%;
}

.border-grey {
    border: 1px solid lightslategray;
}

.relative {
    position: relative;
}

.scale-d {
    transform: scale(0.8);
}

.scale-u {
    transform: scale(2);
}

/* width */

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.h-50 {
    height: 50%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

/* MARGIN */

.mtb-15 {
    margin: 15px 0;
}

.m-tb30 {
    margin: 30px 0;
}

.m-tb50 {
    margin: 50px 0;
}

.m-tb100 {
    margin-top: 100px;
}

.m-lr30 {
    margin: 0 30px;
}

.m-b50{
    margin-bottom: 50px;
}

/* PADDING */

.p-5 {
    padding: 5px;
}

.p-20 {
    padding: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.ptb-50 {
    padding: 50px 0;
}

.pt-100 {
    padding-top: 100px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-200 {
    padding-top: 200px;
}

/* TEXT STYLE */

.grey-bg {
    background-color: #f5f5f5;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-white {
    color: white;
}

.text-grey {
    color: grey;
}

.bg-blue {
    background-color: #b0cce4;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: 800;
    font-size: 2rem;
}

.violet-text {
    color: #0d2481
}

/* NAVBAR */

header {
    height: 100%;
}

.nav-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    z-index: 1;
}

.nav-position .main-nav li:hover:not(.nav-bar-right li ul li, .nav-bar-right li:last-child) {
    box-shadow: 0px -2px 0px 0px #888888 inset;
}

/* ANIMATION */

.btn-jumbo .fas {
    animation: bounce 1s cubic-bezier(.91, 0, .84, .85) infinite alternate-reverse;
}

@keyframes bounce {
    from {
        position: relative;
        top: 30px;
    }
    to {
        position: relative;
        top: 5px;
    }
}

/* BUTTON */

.btn {
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;
}

.btn-white {
    box-shadow: 1px 1px 2px 1px black;
    background-color: white;
    color: black;
    padding: 10px 15px;
}

.main-nav .col .content li a, .jumbotron .btn-jumbo a, .btn-part a, .btn-bottom, .footer-top .content li a, .price div>a, .enterprise a {
    text-decoration: none;
    transition: border-radius 1s ease-in-out;
}

#btn-begin:hover, .btn-white:hover, .jumbotron .btn-jumbo a:hover, .btn-part:hover, .btn-bottom:hover, .footer-top li a:hover, .price div>a:hover, .enterprise a:hover {
    border-radius: 10px;
    filter: brightness(1.5);
}

.checkbox {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    vertical-align: middle;
    padding-right: 5px;
}

.checked {
    border: 5px solid #0061ff;
}

.unchecked {
    border: 1px solid black;
}

/* LIST ICON PSEUDO */

::before {
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
    font-style: normal;
    font-weight: 700;
}

.user::before {
    content: '\f007';
}

.team::before {
    content: '\f1ad';
}

.folder::before {
    content: '\f07b';
}

.check:before {
    content: '\f00c';
    color: #0061ff
}

.pencil:before {
    content: '\f303';
}

.users:before {
    content: '\f234';
}

.smile::before {
    content: '\f4da';
}

.arrow-up::before {
    content: '\f077'
}

.arrow-down:before {
    content: '\f078';
}

.col {
    float: left;
}

/* NAV */

.main-nav {
    height: 100%;
    line-height: 100px;
}

#main-logo-img {
    height: 30px;
    vertical-align: middle;
    margin: 0 20px;
}

nav .main-nav .nav-bar {
    vertical-align: middle;
}

.main-nav .col .content ul li {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}

nav .content .nav-bar-left, .nav-bar-right {
    display: inline-block;
}

/* JUMBO */

#main-title {
    font-size: 60px;
    font-weight: 600;
}

.jumbotron {
    line-height: normal;
    padding: 30px;
    height: 600px;
}

.jumbotron .content {
    margin-top: 40px;
}

.jumbotron .col .content-img-jumbo img {
    width: 100%;
    padding-top: 45px;
    padding-left: 30px;
}

.btn-jumbo {
    padding: 30px 0;
}

.btn-jumbo div:first-of-type {
    padding: 20px 0;
}

/* MAIN */

.price .card {
    height: 900px;
}

.card span {
    font-size: 0.7em;
}

.price .col {
    width: calc((100%/3) - 20px);
}

/* LIST */

.price .col .card-content ul {
    list-style-position: inside;
}

.price .col .card-content ul li {
    list-style-type: none;
    padding: 15px 20px;
    font-size: 0.7em;
    text-indent: -1.5em;
}

.card-title, .enterprise-title {
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

.btn-contact {
    margin-top: 30px;
}

.contact-enterprise {
    padding: 10px;
}

.bottom-enterprise .contact-enterprise * {
    padding: 10px 0;
}

/* PARTNERSHIP */

.partnership .part-text {
    padding: 30px 20px;
}

.partnership .part-text .btn-part {
    margin-top: 40px;
}

.partnership .part-text h2, .row .card p {
    padding: 20px 0;
}

/* SECTION OPERATION DB BUSINESS */

.row .col {
    width: calc(100%/3);
    padding-right: 40px;
}

/* PARTNER-GRID */


.companies .col .img-partner img {
    height: 50px;
    filter: invert(1);
    position: relative;
    top: 40%;
    object-fit: contain; 
    
}

.companies .img-partner {
    height: 100%;
    width: 100%;
}

.img-mid img {
    height: 40px;
    margin: 20px 15px;
}

/* Partner colors */

.black-bg {
    background-color: black;
}

.green-bg {
    background-color: #74c1aa;
}

.brown-bg {
    background-color: #61082b;
}

.blue-florida {
    background-color: #0093ce;
}

.red-bg {
    background-color: #ff1c1c;
}

.red2-bg {
    background-color: #d5001f;
}

.blue-lonely {
    background-color: #0d2481;
}

.blue-hearst {
    background-color: #b4d0e7;
}

.yellow-bg {
    background-color: #ffd830;
}

.companies .img-partner {
    transition: box-shadow 1s ease-in-out;
}

.companies .img-partner:hover {
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.4) inset;
}

.companies .content-mid {
    padding: 10px 30px;
}

.bottom-partner {
    height: 400px;
}

/* FOOTER */

.footer-top h4 {
    font-size: 1.4rem;
}

.footer-top .content li a {
    color: white;
}

.footer-top .content ul li {
    list-style-type: none;
    padding: 10px 0;
    font-weight: normal;
}

/* EXTRA */

.hidden {
    display: none;
}

.floated:hover p {
    display: block;
}

.floated:hover .content-right::before {
    font-family: "Font Awesome 5 Free";
    content: '\f077';
}

/* MENU A TENDINA */

.nav-bar-right li ul {
    display: none;
    text-align: center;
}

.nav-bar-right li:hover ul {
    display: block;
    position: absolute;
    z-index: 1;
    width: 150px;
    padding: 0 20px;
    background: white;
    border: 1px solid lightgrey;
    text-align: center;
}

.nav-bar-right li li a {
    padding: 20px;
}

.nav-bar-right li li a:hover {
    background-color: dodgerblue;
    border-radius: 20px;
    color: white;
}

/* GRID SEMPRE QUADRATA */
.companies .col-side {
    width: calc(60% / 2);
    height: calc(60vw / 2);
    float: left;
}

.companies .row-partner {
    height: 100%;
    width: 100%;
}

.companies .mid-col{
    height:30vw; 
}