/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

   
}

body{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}

/* UTILS */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.container{
    /* width:1200px; */
    margin:0 auto; 
}
.container-big{
    max-width: 95%;
    margin: 0 auto;
    /* border:1px solid black; */
}

.container-small{
    width:80%;
    margin:0 auto;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}

.w-70{
    width: 70%;
}

.w-100{
    width: 100%;

}




.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-white{
    color: white;
}

.bg-blue{
    background-color: #b0cce4;
}

.btn{
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;

}

.btn-white{
    box-shadow: 1px 1px 2px 1px  black;
    background-color: white;
    color: black;
    padding: 10px 15px;
}

.text-normal{
    font-weight: normal;
}

.col{
    float: left;
    /* border: 1px solid black; */
}

.border-grey{
    border: 1px solid lightslategray;
}

.main-nav{
    height: 100px;
    line-height: 100px;
}
#main-logo-img{
    height: 30px;
    vertical-align: middle;
    margin: 0 20px;
}
nav .main-nav .nav-bar {
    vertical-align: middle;
}

.main-nav .col .content ul li{
    display:inline-block;
    margin-right: 30px;   
    vertical-align: middle;
}

.main-nav .col .content li a, #try-btn, .btn-part a {
    text-decoration: none;
    color: black;
}

.main-nav .col .content li a:hover, #try-btn:hover, .btn-part:hover{
    text-decoration: underline;
}

nav .content .nav-bar-left, .nav-bar-right{
    display: inline-block;
}

#btn-begin, #try-btn{
    color: white;
}

/* JUMBO */

#main-title{
    font-size: 50px;
    font-weight: 600;
}
.jumbotron{
    line-height: normal;
    padding: 30px;
    height: 600px;
}

.jumbotron .content{
    margin-top: 40px;
}

 .jumbotron .col .content-img-jumbo img{
    width:100%;
    padding-top: 45px;
    padding-left: 30px;
}

.btn-jumbo{
    padding: 30px 0;  
}

.btn-jumbo div:first-of-type{
    padding: 20px 0;

}


/* MAIN */

section{
    margin:100px 0; 
}

.title-container{
    margin: 30px 0; 
}

.card {
    padding: 5px;;
}

.price .col:nth-child(2){
    margin:0 30px; 
}

.card span{
    font-size: 0.7em;
}

.price{
    margin:30px 0; 
}
.price .col {
    width: calc((100%/3) - 30px);
}


.price .col .card-content ul{
    padding-inline-start: 20px;
}

.price .col .card-content ul li{
    list-style-type: none;
    padding:15px 0; 
    font-size: 0.7em ;
}

.card-title, .enterprise-title{
    border-bottom: 1px solid lightgray;
    padding: 15px 0; 
}

.card-top, .card-bottom{
    padding: 5px;
}

.card-btn {
    margin: 15px 0;
}

.btn-contact{
    margin-top:30px;  
}

.contact-enterprise{
    padding: 10px
}
.bottom-enterprise .contact-enterprise *{
    padding: 10px 0;
}


/* PARTNERSHIP */

.partnership .part-text 
{
    padding: 30px 20px;
}

.partnership .part-text .btn-part{
    margin-top: 40px; 
}

.partnership .part-text h2{
    padding: 20px 0;
}

























